.breadcrum{
    font-family: 'Poppins',sans-serif;
    display:flex;
    align-items: center;
    font-weight:600;
    font-size: 16px;
    margin: 60px 170px;
    text-transform: capitalize;
    gap:8px;
    color:#5e5e5e;

}